In [1]:
import talib
from talib import RSI, BBANDS, MACD, ATR
import joblib
import numpy as np
from datetime import datetime
import yfinance as yf
import pandas as pd

### get tickers

In [2]:
import requests
from bs4 import BeautifulSoup

# get all components of merval index
url = "https://es.wikipedia.org/wiki/S%26P_Merval"

response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

panel_lider_section = soup.find(id="Empresas_que_participan_Panel_Líder")
lider_table = panel_lider_section.find_next("table")

ba_tickers = []
for row in lider_table.find_all('tr')[1:]:  # Skip the header row
    cols = row.find_all('td')
    ticker = cols[0].text.strip()
    ba_tickers.append(ticker + ".BA")
    
panel_lider_section = soup.find(id="Empresas_panel_general")
general_table = panel_lider_section.find_next("table")

for row in general_table.find_all('tr')[1:]:  # Skip the header row
    cols = row.find_all('td')
    ticker = cols[0].text.strip()
    ba_tickers.append(ticker + ".BA")

len(ba_tickers)

62

### download from yf

In [51]:
import yfinance as yf
import pandas as pd

all_data = pd.DataFrame()
for symbol in ba_tickers:
	try:
		stock_data = yf.download(symbol, start='2024-05-18', end='2024-07-20', progress=False)
		stock_data['ticker'] = symbol
		stock_data['open'] = stock_data['Open']
		stock_data['high'] = stock_data['High']
		stock_data['low'] = stock_data['Low']
		stock_data['close'] = stock_data['Close']
		stock_data['volume'] = stock_data['Volume']
		stock_data['adj_open'] = stock_data['Open']
		stock_data['adj_high'] = stock_data['High']
		stock_data['adj_low'] = stock_data['Low']
		stock_data['adj_close'] = stock_data['Adj Close']
		stock_data['adj_volume'] = stock_data['Volume']
		stock_data['ex-dividend'] = 0  # Placeholder as Yahoo Finance does not provide this
		stock_data['split_ratio'] = 1  # Placeholder as Yahoo Finance does not provide this
		stock_data.reset_index(inplace=True)
		stock_data['date'] = stock_data['Date']

		stock_data = stock_data[['ticker', 'date', 'open', 'high', 'low', 'close', 'volume',
									'ex-dividend', 'split_ratio', 'adj_open', 'adj_high', 'adj_low',
									'adj_close', 'adj_volume']]
		all_data = pd.concat([all_data, stock_data])
	except Exception as e:
		# ba_tickers.remove(symbol)
		print(f"Failed to download data for {symbol}: {e}")

1 Failed download:
['ESME.BA']: YFTzMissingError('$%ticker%: possibly delisted; No timezone found')

1 Failed download:
['PGR.BA']: YFTzMissingError('$%ticker%: possibly delisted; No timezone found')

1 Failed download:
['RICH.BA']: YFInvalidPeriodError("%ticker%: Period 'max' is invalid, must be one of ['1d', '5d']")

1 Failed download:
['TGLT.BA']: YFTzMissingError('$%ticker%: possibly delisted; No timezone found')

### apply data engineering

In [52]:
prices = all_data.set_index(['ticker', 'date']).sort_index()
prices = prices[['open', 'close', 'high', 'low', 'volume']]
DATA_STORE = '../notebooks/data/assets.h5'
with pd.HDFStore(DATA_STORE) as store:
	metadata = (store['merval/stocks'].loc[:, ['marketcap', 'sector']])

prices.volume /= 1e3 # make vol figures a bit smaller
prices.index.names = ['symbol', 'date']
metadata.index.name = 'symbol'

In [53]:
prices

                       open    close     high      low    volume
symbol  date
ALUA.BA 2024-05-20    937.0    969.0    972.0    925.0  1080.973
        2024-05-21    972.0   1027.5   1031.0    972.0  1878.298
        2024-05-22   1035.0   1051.0   1053.0   1018.0   998.396
        2024-05-23   1055.0   1026.5   1055.0   1000.0   871.274
        2024-05-24   1002.5   1001.5   1015.0    964.5     2.299
...                     ...      ...      ...      ...       ...
YPFD.BA 2024-07-15  30000.0  27350.0  30000.0  27225.0   356.566
        2024-07-16  27200.0  26675.0  27200.0  25425.0   426.408
        2024-07-17  26700.0  26100.0  26725.0  25600.0   280.663
        2024-07-18  26325.0  26400.0  26750.0  26125.0   205.158
        2024-07-19  26550.0  27125.0  27250.0  26550.0   209.350

[2378 rows x 5 columns]

In [54]:
# RSI 
RSI(prices.close)

symbol   date
ALUA.BA  2024-05-20          NaN
         2024-05-21          NaN
         2024-05-22          NaN
         2024-05-23          NaN
         2024-05-24          NaN
                         ...
YPFD.BA  2024-07-15    55.240434
         2024-07-16    51.839437
         2024-07-17    49.068053
         2024-07-18    50.553344
         2024-07-19    54.041444
Length: 2378, dtype: float64

In [55]:
prices = all_data.set_index(['ticker', 'date']).sort_index()
prices = prices[['open', 'close', 'high', 'low', 'volume']]
DATA_STORE = '../notebooks/data/assets.h5'
with pd.HDFStore(DATA_STORE) as store:
	metadata = (store['merval/stocks'].loc[:, ['marketcap', 'sector']])

prices.volume /= 1e3 # make vol figures a bit smaller
prices.index.names = ['symbol', 'date']
metadata.index.name = 'symbol'

# RSI
rsi = prices.groupby(level='symbol').close.apply(RSI)
prices['rsi'] = rsi.values

# BB
def compute_bb(close):
	high, mid, low = BBANDS(close, timeperiod=20)
	return pd.DataFrame({'bb_high': high, 'bb_low': low}, index=close.index)
bb = prices.groupby(level='symbol').close.apply(compute_bb)
prices['bb_high'] = bb['bb_high'].values
prices['bb_low'] = bb['bb_low'].values
prices['bb_high'] = prices.bb_high.sub(prices.close).div(prices.bb_high).apply(np.log1p)
prices['bb_low'] = prices.close.sub(prices.bb_low).div(prices.close).apply(np.log1p)

# NATR
prices['NATR'] = prices.groupby(level='symbol', 
							group_keys=False).apply(lambda x: 
													talib.NATR(x.high, x.low, x.close))
def compute_atr(stock_data):
	df = ATR(stock_data.high, stock_data.low, 
			stock_data.close, timeperiod=14)
	return df.sub(df.mean()).div(df.std())
prices['ATR'] = (prices.groupby('symbol', group_keys=False)
				.apply(compute_atr))

# PPO
by_ticker = prices.groupby('symbol', group_keys=False)
prices['ppo'] = by_ticker.close.apply(talib.PPO)

# MACD
def compute_macd(close):
	macd = MACD(close)[0]
	return (macd - np.mean(macd))/np.std(macd)
prices['MACD'] = (prices
				.groupby('symbol', group_keys=False)
				.close
				.apply(compute_macd))

# Combine price and metadata
metadata.sector = pd.factorize(metadata.sector)[0].astype(int)
prices = prices.join(metadata[['sector']])

# Create dummy variables
prices['year'] = prices.index.get_level_values('date').year
prices['month'] = prices.index.get_level_values('date').month
prices['weekday'] = prices.index.get_level_values('date').weekday

In [65]:
prices.xs(key='ALUA.BA', level='symbol').isna().sum() + 1

open        1
close       1
high        1
low         1
volume      1
rsi        15
bb_high    20
bb_low     20
NATR       15
ATR        15
ppo        26
MACD       34
sector      1
year        1
month       1
weekday     1
dtype: int64

In [63]:
prices.xs(key='ALUA.BA', level='symbol')

,open,close,high,low,volume,rsi,bb_high,bb_low,NATR,ATR,ppo,MACD,sector,year,month,weekday
date,,,,,,,,,,,,,,,,
2024-05-20,937.0,969.0,972.0,925.0,1080.973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2024,5,0
2024-05-21,972.0,1027.5,1031.0,972.0,1878.298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2024,5,1
2024-05-22,1035.0,1051.0,1053.0,1018.0,998.396,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2024,5,2
2024-05-23,1055.0,1026.5,1055.0,1000.0,871.274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2024,5,3
2024-05-24,1002.5,1001.5,1015.0,964.5,2.299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2024,5,4
2024-05-27,990.0,1029.0,1034.0,953.0,953.186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2024,5,0
2024-05-28,1022.0,1031.0,1035.0,991.5,939.374,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2024,5,1
2024-05-29,1034.0,998.5,1035.0,995.5,583.097,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2024,5,2
2024-05-30,1002.0,1011.5,1021.5,997.0,1199.265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2024,5,3
2024-05-31,1009.0,1011.5,1020.0,992.0,1174.637,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2024,5,4
2024-06-03,1005.5,1023.5,1030.5,1002.0,662.841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2024,6,0
2024-06-04,1014.5,974.0,1020.0,970.0,756.508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2024,6,1
2024-06-05,974.0,969.0,990.0,950.0,548.496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2024,6,2
2024-06-06,959.0,920.5,970.0,918.5,991.771,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2024,6,3
2024-06-07,920.5,944.0,972.0,920.5,486.270,46.376812,NaN,NaN,4.959897,-0.136688,NaN,NaN,0,2024,6,4
2024-06-10,944.0,948.0,956.5,930.0,777.602,47.038097,NaN,NaN,4.785854,-0.414363,NaN,NaN,0,2024,6,0
2024-06-11,949.0,922.5,960.0,917.0,880.230,43.366494,NaN,NaN,4.899796,-0.446745,NaN,NaN,0,2024,6,1
2024-06-12,925.0,925.0,950.0,922.0,555.244,43.829407,NaN,NaN,4.753730,-0.681777,NaN,NaN,0,2024,6,2
2024-06-13,959.5,911.0,960.0,890.5,1741.574,41.770357,NaN,NaN,5.026941,-0.332959,NaN,NaN,0,2024,6,3
2024-06-14,910.0,890.0,912.0,883.0,1239.794,38.824049,0.157819,0.005685,5.010759,-0.562454,NaN,NaN,0,2024,6,4
2024-06-18,890.0,852.0,905.0,847.0,1255.807,34.132398,0.193215,-0.014137,5.346620,-0.379296,NaN,NaN,0,2024,6,1
2024-06-19,858.0,867.5,877.0,851.0,548.031,37.452618,0.180245,0.020267,5.090092,-0.646474,NaN,NaN,0,2024,6,2
2024-06-24,855.5,882.0,888.0,855.5,892.104,40.475437,0.162510,0.043416,4.912011,-0.805751,NaN,NaN,0,2024,6,0
2024-06-25,877.0,884.0,890.0,870.0,984.901,40.899704,0.155888,0.052649,4.712437,-1.124452,NaN,NaN,0,2024,6,1
2024-06-26,886.0,905.0,909.0,872.5,1010.781,45.307720,0.134758,0.077179,4.562378,-1.194931,NaN,NaN,0,2024,6,2
2024-06-27,911.0,977.0,980.0,908.0,1710.171,57.117280,0.066669,0.135340,4.472611,-0.734306,-5.282142,NaN,0,2024,6,3
2024-06-28,977.0,987.0,990.0,942.0,1203.085,58.458925,0.050935,0.139778,4.458433,-0.675515,-4.977306,NaN,0,2024,6,4
2024-07-01,984.0,1014.5,1016.0,960.0,930.753,61.981554,0.028119,0.160675,4.422035,-0.511610,-4.350483,NaN,0,2024,7,0
2024-07-02,1015.0,1068.5,1075.0,1014.0,1844.580,67.762472,-0.010561,0.201281,4.306438,-0.291092,-3.150881,NaN,0,2024,7,1
2024-07-03,1068.5,1007.0,1080.0,997.0,1058.047,57.111443,0.045914,0.161455,4.831790,0.214285,-2.363254,NaN,0,2024,7,2
2024-07-04,1010.0,1004.5,1018.0,981.0,284.118,56.721144,0.045279,0.158469,4.760930,0.055015,-1.563293,NaN,0,2024,7,3
2024-07-05,1006.0,1043.5,1045.0,1001.5,589.192,61.178298,0.019602,0.187994,4.553399,-0.004063,-0.288651,NaN,0,2024,7,4
2024-07-08,1049.0,1041.5,1057.0,1025.0,457.538,60.832306,0.030703,0.189273,4.455739,-0.216058,1.312893,NaN,0,2024,7,0
2024-07-10,1040.0,1055.0,1060.0,1020.0,436.645,62.378942,0.030720,0.198014,4.355348,-0.303598,2.706723,-0.301493,0,2024,7,2
2024-07-11,1060.0,1050.0,1070.0,1020.0,634.899,61.411706,0.044618,0.195449,4.403646,-0.248243,4.000518,0.608716,0,2024,7,3
2024-07-12,1055.0,1065.0,1080.0,1025.0,593.653,63.252593,0.042177,0.205291,4.400387,-0.128522,5.339580,1.612429,0,2024,7,4
2024-07-15,1045.0,928.0,1045.0,920.0,786.068,43.051538,0.153700,0.107285,5.805369,1.212420,5.940446,-0.635674,0,2024,7,0
2024-07-16,930.0,963.0,968.0,882.0,1365.018,47.651284,0.126766,0.132911,5.832664,1.651396,5.865801,-1.656235,0,2024,7,1
2024-07-17,971.0,1035.0,1050.0,950.0,801.143,55.596695,0.072926,0.178858,5.729407,2.250315,6.001820,-0.896807,0,2024,7,2
2024-07-18,1050.0,1065.0,1080.0,1015.0,1103.685,58.427988,0.054152,0.190313,5.606249,2.328209,5.828430,0.332934,0,2024,7,3
2024-07-19,1065.0,1050.0,1080.0,1035.0,673.611,56.488512,0.065705,0.164063,5.586294,2.127256,5.227591,0.936129,0,2024,7,4